@import 'nib'

.curso
	padding 15px
	h1
		margin 0
		user-select none
		cursor pointer
	.head
		padding 5px
		border 1px solid #ccc
		border-radius 5px

.comentario
	padding 5px
	margin 0
	margin-bottom 10px
	.subcomments
		cursor pointer
		padding-left 30px
		a
			color #009
