{% extends "common/base.html" %}
{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
{% endblock cssadicional %}
{% block content %}
<section id="vAppContent">
	<div class="row curso" v-for="post in posts">
		<div class="head" @click.prevent="getComments(post)" data-target="#vCommentsModal">
			<h1 v-text="post.title"></h1>
		</div>
	</div>
	<div class="modal fade  bs-example-modal-lg" tabindex="-1" role="dialog" id="vCommentsModal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Comentarios</h4>
				</div>
				<div class="modal-body">
					<div class="comentario" v-for="comment in comments" v-if="comment.commentId === null">
						<p v-text="comment.body"></p>
						<div class="subcomments">
							<div  v-if="comment.comments.length > 0">
								<a v-if="!comment.expanded" @click="expandComment(comment)">Mostrar repuestas de este comentario</a>
								<div v-else="" class="comentario" v-for="subcom in comment.comments">
									<p v-text="subcom.body"></p>
								</div>
							</div>
							<div class="responder form-group">
								<input type="text" placeholder="Responder" class="form-control" 
								@keyup.enter="sendComment(comment)"
								@input="e=>wCommentForComment(e,comment)">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="responder form-group">
						<input type="text" placeholder="Responder" class="form-control" 
						@keyup.enter="sendCommentPost()"
						@input="e=>wPostComment(e)">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block jsfinal %}
<script type="text/javascript">
	const vApp = new Vue({
		el:'#vAppContent',
		data:{
			post:null,
			posts:[],
			comments:[],
			comment_forsend:{}
		},
		mounted(){
			this.getPosts()
		},
		methods:{
			getPosts(){
				this.$axios.get('/posts').then(rst => {
					this.posts = rst.data;
				})
			},
			getComments(post){
				this.post = post;
				this.$axios.get('/comments',{
					params:{
						postId:post.id,
						_embed:'comments'
					}
				}).then(rst => {
					this.comments = rst.data;
					$('#vCommentsModal').modal()
				})
			},
			expandComment(comment){
				Vue.set(comment,'expanded',true);
			},
			wCommentForComment(e,comment){
				this.comment_forsend[comment.id+'_ctarget'] = e;
				this.comment_forsend[comment.id] = {
					postId:comment.postId,
					commentId:comment.id||null,
					body:e.target.value
				}
			},
			wPostComment(e){
				this.comment_forsend[this.post.id+'_ptarget'] = e;
				this.comment_forsend[this.post.id+'_post'] = {
					postId:this.post.id,
					commentId:null,
					body:e.target.value
				}
			},
			sendComment(comment){
				let comentario = this.comment_forsend[comment.id]
				if(comentario && comentario.body){
					this.$axios.post('/comments',comentario)
					.then(rst => {
						comment.comments.push(rst.data);
						e = this.comment_forsend[comment.id+'_ctarget'];
						e.target.value='';
						delete this.comment_forsend[comment.id]
						delete this.comment_forsend[comment.id+'_ctarget']
					})				
				}
			},
			sendCommentPost(){
				let comentario = this.comment_forsend[this.post.id+'_post']
				if(comentario && comentario.body){
					this.$axios.post('/comments',comentario)
					.then(rst => {
						rst.data["comments"] = []
						this.comments.push(rst.data);
						e = this.comment_forsend[this.post.id+'_ptarget'];
						e.target.value='';
						delete this.comment_forsend[this.post.id+'_post']
						delete this.comment_forsend[this.post.id+'_ptarget']
					})				
				}
			}
		}
	})
</script>
{% endblock jsfinal %}